<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-case2-regional</symbolicName>
    <version>1.4</version>
    <name>MERIS Case-2-Regional Processor</name>

    <description>
        This processor derives Level 2 water quality parameters of
        coastal waters from MERIS Level 1b data.
        
        The processor includes an algorithm for atmospheric correction and an algorithm to
        derive properties of the water such as the inherent optical properties (IOP's)
        absorption and scattering and the concentrations of total suspended matter (TSM)
        and chlorophyll from the water leaving radiance reflectance spectra
        (i.e. after atmospheric correction).
    </description>
    
    <changelog>
        <![CDATA[
        Changes in version 1.4:<br/>
        - [CIIR-25] Deactivating 'tau_550' and 'ang_443_865' by default<br/>
        - [CIIR-24] Using new neural net for better water leaving radiance<br/>
        - [CIIR-23] Parameter 'radiance1AdjustmentFactor' has no effect<br/>
        - [CIIR-22] Update auxdata for smile correction<br/>
        - [CIIR-21] Bring all processors to the same version number<br/>
        - [CIIR-20] Wrong computation of azimuth difference<br/>
        - [CIIR-19] chi-square and chisuqare-fit bands are differently coded<br/>
        Changes in version 1.3.301:<br/>
        - [CIIR-18] Consider MER_FSG product when loading smile auxdata<br/>
        - [BEAM-1006] MER_FSG pixel geocoding not used<br/>
        Changes in 1.3.2<br/>
        [CIIR-17] No ReadMe text shown in processor<br/>
        Changes in version 1.3.1:<br/>
        - improved neural net for atmospheric correction<br/>
        - updated readme<br/>
        Changes in version 1.3:<br/>
        - help updated<br/>
        Changes in version 1.2.5:<br/>
        - Include bands 10, 12, 13 of AC output into resulting product<br/>
        - Include new AC of 20080513<br/>
        - Consolidation of flags<br/>
        - Renaming of bands tau_681 -> tau_550; ang_620_681 -> ang_443_865<br/>
        Changes in 1.2.4<br/>
        - Allow already atmospheric corrected input products<br/>
        - Support user defined land/water separation expression<br/>
        - Support user defined ice/cloud detection expression<br/>
        Changes in 1.2.3<br/>
        - fixed path to auxdata in default-parameters.txt<br/>
        Changes in 1.2.2<br/>
        - exchanged neural net for amtospheric correction<br/>
        Changes in 1.2.1<br/>
        - exchanged water neural net<br/>
        <br/>Changes in 1.2<br/>
        - added new land detection<br/>
        - added adjustmentFactor for radiance_1 tp parameters<br/>
        - removed coastline flag from inputValidMask<br/>
        - switched off polarization and smile correction by default<br/>
        - removed land_flag from valid mask<br/>
        - added new atmospheric correction<br/>        
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-processing</module>
    </dependency>
    <dependency>
        <module>beam-meris-case2-core</module>
    </dependency>    
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-meris-smile</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>case2RegionalProcessor</id>
            <class>org.esa.beam.visat.actions.ProcessorAction</class>
            <processor>org.esa.beam.merisc2r.processor.MerisC2RProcessor</processor>
            <text>Case-2 Regional Processor (MERIS) ...</text>
            <shortDescr>Invoke the BEAM MERIS Case-2 Regional Processor.</shortDescr>
            <mnemonic>C</mnemonic>
            <parent>case2Processors</parent>
            <helpID>case2RegionalProcessor</helpID>
            <placeAfter>createFilteredBand</placeAfter>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/merisc2r.hs</path>
        </helpSet>
    </extension>

</module>
