<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-case2-regional</symbolicName>
    <version>1.5.6</version>
    <name>MERIS Case-2-Regional Processor</name>

    <description>
        This processor derives Level 2 water quality parameters of
        coastal waters from atmospherically corrected MERIS products.

        The processor includes an algorithms to derive properties of the water such as the
        inherent optical properties (IOP's) absorption and scattering and the concentrations
        of total suspended matter (TSM) and chlorophyll from the water leaving radiance reflectance spectra
        (i.e. after atmospheric correction).
    </description>

    <changelog>
        <![CDATA[
        Changes in version 1.5.6:<br/>
          [CIIR-47] Output product contains no masks<br/>
          Set default invalid pixel expression to 'l1_flags_INVALID'.<br/>
        Changes in version 1.5.5:<br/>
          [CIIR-46] Metadata of the source product is not copied to the result<br/>
        Changes in version 1.5.4:<br/>
          [BEAM-1408] Case 2 Regional Processor aborts with error java.lang.IllegalArgumentException<br/>
        Changes in version 1.5.3:<br/>
          [CIIR-37] Error occures if MERIS FSG products are processed<br/>
        Changes in version 1.5.2:<br/>
          [CIIR-43] Reintroduce separate lakes processor<br/>
          [CIIR-42] Handle PixelGeoCoding more generic<br/>
        Changes in version 1.5.1:<br/>
          [CIIR-38] Allow specifying the kind of reflectances<br/>
          [CIIR-37] Error occures if MERIS FSG products are processed<br/>
          [CIIR-36] Make normalized reflectances as additional output<br/>
          [CIIR-35]	Remove option for ChiSquare computation<br/>
          [CIIR-34] Algorithms for Eutrophic and Boreal lakes shall not be included<br/>
          [CIIR-33] Change menu entry for processor<br/>
        Changes in version 1.5:<br/>
          [CIIR-32] Add Turbidity_Index to output bands<br/>
          [CIIR-31] Add Kd_490 to output bands<br/>
          [CIIR-30] Migrate Case2 Processors to GPF<br/>
          [CIIR-29] Update neural net for atmospheric correction<br/>
          [CIIR-28] Update for module reorganization in BEAM<br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-meris-glint</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>merisCase2Regional</id>
            <class>org.esa.beam.meris.case2.ui.Case2RegionalAction</class>
            <text>Case-2 Regional Processor (MERIS)...</text>
            <shortDescr>Invokes the Case-2 Regional processor</shortDescr>
            <longDescr>Invokes the Case-2 Regional processor for MERIS data products</longDescr>
            <parent>tools</parent>
            <helpId>merisCase2Regional</helpId>
            <placeAfter>flhMciScientificTool</placeAfter>
        </action>
        <action>
            <id>merisCase2Lakes</id>
            <class>org.esa.beam.meris.case2.ui.Case2LakesAction</class>
            <text>Lakes Processor (MERIS)...</text>
            <shortDescr>Invokes the Case-2 Lakes processor</shortDescr>
            <longDescr>Invokes the Case-2 (Eutrophic and Boreal) Lakes processor for MERIS data products</longDescr>
            <parent>tools</parent>
            <helpId>merisCase2Regional</helpId>
            <placeAfter>merisCase2Regional</placeAfter>
        </action>
    </extension>


    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/merisCase2Regional.hs</path>
        </helpSet>
    </extension>


</module>
