<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-case2-regional</symbolicName>
    <version>1.6.2</version>
    <name>MERIS Case-2-Regional Processor</name>

    <description>
        This processor derives Level 2 water quality parameters of
        coastal waters from atmospherically corrected MERIS products.

        The processor includes an algorithms to derive properties of the water such as the
        inherent optical properties (IOP's) absorption and scattering and the concentrations
        of total suspended matter (TSM) and chlorophyll from the water leaving radiance reflectance spectra
        (i.e. after atmospheric correction).
    </description>

    <changelog>
        <![CDATA[
        Changes in version 1.6.2:<br/>
          [CIIR-50] KD_490 not computed for eutrophic case<br/>
        Changes in version 1.6.1:<br/>
          [CIIR-49] CoastColour L1P can not be used as source<br/>
        Changes in version 1.6:<br/>
          [CIIR-43] Reintroduce separate lakes processor<br/>
          [CIIR-40] Add band a_poc_443 as output<br/>
          [CIIR-39] Adapt target product creation according to changes in AGC processor<br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-meris-glint</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <parent>processing.thematicWater</parent>
            <id>merisCase2Regional</id>
            <class>org.esa.beam.meris.case2.ui.Case2RegionalAction</class>
            <text>MERIS Case-2 Regional Processor...</text>
            <shortDescr>Generates IOPs for Case-2 water from a MERIS product</shortDescr>
            <helpId>merisCase2Regional</helpId>
        </action>
        <action>
            <parent>processing.thematicWater</parent>
            <id>merisCase2Lakes</id>
            <class>org.esa.beam.meris.case2.ui.Case2LakesAction</class>
            <text>MERIS Lakes Processor...</text>
            <shortDescr>Generates IOPs for Lakes (Eutrophic and Boreal) water from a MERIS product</shortDescr>
            <helpId>merisCase2Regional</helpId>
            <placeAfter>merisCase2Regional</placeAfter>
        </action>
    </extension>


    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/merisCase2Regional.hs</path>
        </helpSet>
    </extension>


</module>
