<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-meris-case2-water</symbolicName>
    <version>1.0</version>
    <name>MERIS Case-2-Water Processor</name>

    <description>
        <!-- todo - update description-->
        This processor derives Level 2 water quality parameters of
        coastal waters from atmospherically corrected MERIS products.

        The processor includes an algorithm to derive properties of the water such as the
        inherent optical properties (IOP's) absorption and scattering and the concentrations
        of total suspended matter (TSM) and chlorophyll from the water leaving radiance reflectance spectra
        (i.e. after atmospheric correction).
    </description>

    <changelog>
        <![CDATA[
        Version 1.0:<br/>
          This processor equals to the water part of the MERIS Case2 Regional processor v. 1.4.3<br/>
        ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-meris-case2-core</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Application,Processor,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>merisCase2Water</id>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <text>Case2Water (MERIS)...</text>
            <shortDescr>Performs IOP retrieval on MERIS</shortDescr>
            <longDescr>Performs IOP retrieval on MERIS data products</longDescr>
            <parent>tools</parent>
            <helpID>merisCase2Water</helpID>
            <placeAfter>flhMciScientificTool</placeAfter>
            <operatorName>Meris.Case2Water</operatorName>
            <targetProductNameSuffix>_c2w</targetProductNameSuffix>
        </action>
    </extension>

    <!--<extension point="beam-ui:helpSets">-->
        <!--<helpSet>-->
            <!--<parent>beam-help</parent>-->
            <!--<path>doc/help/meris-case2-water.hs</path>-->
        <!--</helpSet>-->
    <!--</extension>-->
    <!---->

</module>
